@import "tailwindcss";

@theme inline {
  /* Base Colors */
  --color-accent-orange: #E08900;
  --color-accent-yellow: #FFE548;
  --color-secondary-green: #0F8B8D;
  --color-secondary-brown: #564D4A;
  --color-secondary-purple: #5B2333;
  --color-secondary-cream: #F7F4F3;
  --color-accent-white-link: #F0F3BD;


  /* Neutrals (from before) */
  --color-background-gray: #dfdfdf;
  --bg-main-bg: #dfdfdf;
  --color-background-black: #000;
  --color-foreground: #f1f5f9;
  --color-muted: #1f2937;
  --color-border: #334155;
  --color-highlight: #2dd4bf;
  --color-white: #FFFFFF;
  --color-on-primary: #f8fafc;

  /* Fonts */
  --font-sans: var(--font-sora);
  --font-mono: var(--font-fira-code);
  --font-lato: var(--font-lato)
  --swiper-navigation-size: 22px;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --color-lighter-primary: #7700E0;
    --color-lighter-accent: #E08900;
    --green: #10E05C;
    --text-primary-changed: #0c7689;
    --text: #f6f5eb;

  }
}
:root {
  --swiper-navigation-size: 22px !important; 
}

.swiper-slide {
margin-top: auto !important;
margin-bottom: auto !important;
}

li {
  margin-top: calc(var(--spacing) * 2);
}

html[style*="overflow: hidden"] {
  overflow: auto !important;
  padding-right: 0 !important;
}

body {
  background-color:#F7F4F3 !important;
  font-family: var(--font-lato) !important;
}
p, h2, h1, h3, h4 {
  font-family: var(--font-lato) !important;
}
.swiper-pagination-bullet-active {
  background-color: white !important;
}


.perspective-1000 {
  perspective: 1000px;
}

.full-height {
  height: 100vh;
}
